@model SmartCookFinal.Models.MonAn

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MonAn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiBuaAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiBuaAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianNau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianNau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuongCalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuongCalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carbs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiPhiUocTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiPhiUocTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnKeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnKeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnKhongGluten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnKhongGluten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguyenLieuChinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguyenLieuChinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinhDuongChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinhDuongChiTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlHinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlHinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CachNau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachNau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMuc.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
