@model IEnumerable<SmartCookFinal.Models.MonAn>


<div class="page-content bg-white">
	<!-- Main Slider -->
	<div class="rev-slider">
		<div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
			<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
			<!-- SLIDE  -->
			<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
			<div id="rev_slider_486_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
				<ul>
					<!-- SLIDE  -->
					<li data-index="rs-100"
						data-transition="parallaxvertical"
						data-slotamount="default"
						data-hideafterloop="0"
						data-hideslideonmobile="off"
						data-easein="default"
						data-easeout="default"
						data-masterspeed="default"
						data-thumb="error-404.html"
						data-rotate="0"
						data-fstransition="fade"
						data-fsmasterspeed="1500"
						data-fsslotamount="7"
						data-saveperformance="off"
						data-title="A STUDY ON HAPPINESS"
						data-param1="" data-param2=""
						data-param3="" data-param4=""
						data-param5="" data-param6=""
						data-param7="" data-param8=""
						data-param9="" data-param10=""
						data-description="Science says that Women are generally happier">
						<!-- MAIN IMAGE -->
						<img src="~/images/backgroundhome2.jpg" alt=""
							 data-bgposition="center center"
							 data-bgfit="cover"
							 data-bgrepeat="no-repeat"
							 data-bgparallax="10"
							 class="rev-slidebg"
							 data-no-retina />

						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-shape tp-shapewrapper "
							 id="slide-100-layer-1"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							 data-width="full"
							 data-height="full"
							 data-whitespace="nowrap"
							 data-type="shape"
							 data-basealign="slide"
							 data-responsive_offset="off"
							 data-responsive="off"
							 data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="/* z-index: 5; background-color: rgba(50, 50, 80, 0.80); border-color: rgba(0, 0, 0, 0); */ border-width: 0px;"> </div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption Newspaper-Title   tp-resizeme"
							 id="slide-100-layer-2"
							 data-x="['left','left','left','left']"
							 data-hoffset="0"
							 data-y="['top','top','top','top']"
							 data-voffset="['240','240','240','240']"
							 data-fontsize="['50','50','50','30']"
							 data-lineheight="['80','80','80','45']"
							 data-width="full"
							 data-height="none"
							 data-whitespace="normal"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[10,10,10,10]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 6; font-family:'Pacifico'; font-weight:700; text-align:center; white-space: normal; color: #000;">
							Chào mừng đến với <span style="font-size: 70px;">An Thực</span>
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
							 id="slide-100-layer-3"
							 data-x="['left','left','left','left']"
							 data-hoffset="0"
							 data-y="['top','top','top','top']"
							 data-voffset="['210','210','210','210']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 7; white-space: nowrap; color:#fff; font-family:'Roboto'; font-size:18px; font-weight:400; color: #000;">
							Thực đơn lành mạnh phù hợp với sức khoẻ của bạn
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
							 id="slide-100-layer-4"
							 data-x="['left','left','left','left']"
							 data-hoffset="0"
							 data-y="['top','top','top','top']"
							 data-voffset="['340','340','340','340']"
							 data-width="['800','800','700','420']"
							 data-height="['100','100','100','120']"
							 data-whitespace="unset"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:'Roboto'; font-size:18px; line-height:28px; font-weight:400; color: #000;">
							Khám phá hàng trăm công thức nấu ăn healthy, đơn giản, và ngon miệng<br /> được thiết kế dành riêng cho bạn.
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption Newspaper-Button rev-btn "
							 id="slide-100-layer-5"
							 data-x="['left','left','left','left']"
							 data-hoffset="0"
							 data-y="['top','top','top','top']"
							 data-voffset="['420','420','420','420']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="button"
							 data-responsive_offset="on"
							 data-responsive="off"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[12,12,12,12]"
							 data-paddingright="[30,35,35,15]"
							 data-paddingbottom="[12,12,12,12]"
							 data-paddingleft="[30,35,35,15]"
							 style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:#22c55e !important; border:0; border-radius:30px; margin-right:5px; color: #000;">
							Xem thêm
						</div>
						<div class="tp-caption Newspaper-Button rev-btn"
							 id="slide-100-layer-6"
							 data-x="['left','left','left','left']"
							 data-hoffset="['150','150','150','150']"
							 data-y="['top','top','top','top']"
							 data-voffset="['420','420','420','420']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="button"
							 data-responsive_offset="on"
							 data-responsive="off"
							 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
							 data-textAlign="['center','center','center','center']"
							 data-paddingtop="[12,12,12,12]"
							 data-paddingright="[30,35,35,15]"
							 data-paddingbottom="[12,12,12,12]"
							 data-paddingleft="[30,35,35,15]"
							 style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px; color: #000;">
							Liên Hệ
						</div>
					</li>
					@* <li data-index="rs-200"
					data-transition="parallaxvertical"
					data-slotamount="default"
					data-hideafterloop="0"
					data-hideslideonmobile="off"
					data-easein="default"
					data-easeout="default"
					data-masterspeed="default"
					data-thumb="~/images/slider/slide1.jpg"
					data-rotate="0"
					data-fstransition="fade"
					data-fsmasterspeed="1500"
					data-fsslotamount="7"
					data-saveperformance="off"
					data-title="A STUDY ON HAPPINESS"
					data-param1="" data-param2=""
					data-param3="" data-param4=""
					data-param5="" data-param6=""
					data-param7="" data-param8=""
					data-param9="" data-param10=""
					data-description="Science says that Women are generally happier">
					<!-- MAIN IMAGE -->
					<img src="~/images/smartcook/background.png" alt=""
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					data-bgparallax="10"
					class="rev-slidebg"
					data-no-retina />

					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-shape tp-shapewrapper "
					id="slide-200-layer-1"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-width="full"
					data-height="full"
					data-whitespace="nowrap"
					data-type="shape"
					data-basealign="slide"
					data-responsive_offset="off"
					data-responsive="off"
					data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;">
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption Newspaper-Title   tp-resizeme"
					id="slide-200-layer-2"
					data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']"
					data-y="['top','top','top','top']"
					data-voffset="['250','250','250','240']"
					data-fontsize="['50','50','50','30']"
					data-lineheight="['55','55','55','35']"
					data-width="full"
					data-height="none"
					data-whitespace="normal"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[10,10,10,10]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;text-transform:uppercase;">
					Welcome To An Thực
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
					id="slide-200-layer-3"
					data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']"
					data-y="['top','top','top','top']"
					data-voffset="['210','210','210','210']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: nowrap;text-transform:uppercase; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
					Thực đơn lành mạnh phù hợp với sức khoẻ của bạn
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption Newspaper-Subtitle   tp-resizeme"
					id="slide-200-layer-4"
					data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']"
					data-y="['top','top','top','top']"
					data-voffset="['320','320','320','290']"
					data-width="['800','800','700','420']"
					data-height="['100','100','100','120']"
					data-whitespace="unset"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
					Khám phá hàng trăm công thức nấu ăn healthy, đơn giản, và ngon miệng được thiết kế dành riêng cho bạn.
					</div>
					<!-- LAYER NR. 4 -->
					<div class="tp-caption Newspaper-Button rev-btn "
					id="slide-200-layer-5"
					data-x="['center','center','center','center']"
					data-hoffset="['90','80','75','90']"
					data-y="['top','top','top','top']"
					data-voffset="['400','400','400','420']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-type="button"
					data-responsive_offset="on"
					data-responsive="off"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[12,12,12,12]"
					data-paddingright="[30,35,35,15]"
					data-paddingbottom="[12,12,12,12]"
					data-paddingleft="[30,35,35,15]"
					style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:#00FF00 !important; border:0; border-radius:30px; margin-right:5px;">
					Xem thêm
					</div>
					<div class="tp-caption Newspaper-Button rev-btn"
					id="slide-200-layer-6"
					data-x="['center','center','center','center']"
					data-hoffset="['-90','-80','-75','-90']"
					data-y="['top','top','top','top']"
					data-voffset="['400','400','400','420']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-type="button"
					data-responsive_offset="on"
					data-responsive="off"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[12,12,12,12]"
					data-paddingright="[30,35,35,15]"
					data-paddingbottom="[12,12,12,12]"
					data-paddingleft="[30,35,35,15]"
					style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;">
					Liên Hệ
					</div>
					</li> *@
					<!-- SLIDE  -->
				</ul>
			</div><!-- END REVOLUTION SLIDER -->
		</div>
	</div>
	<!-- Main Slider -->
	<div class="content-block">

		<!-- Our Services -->
		<div class="section-area content-inner service-info-bx">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="service-bx" style="border: 2px solid #22c55e; border-radius: 10px; padding: 10px;">

							<div class="action-box">
								<img src="https://i.pinimg.com/736x/9f/1a/be/9f1abed312fa22a671334a0256392abd.jpg" alt="">
							</div>
							<div class="info-bx text-center">
								<h4 style="font-family: Roboto"><a href="@Url.Action("Index", "MonAns")"><strong>Thư Viện Món Ăn</strong></a></h4>
								<a href="@Url.Action("Index", "MonAns")" class="btn radius-xl">Xem thêm</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="service-bx" style="border: 2px solid #22c55e; border-radius: 10px; padding: 10px;">

							<div class="action-box">
								<img src="https://i.pinimg.com/736x/16/3d/7a/163d7a30066ea1d09e340c52be61ccca.jpg" alt="">
							</div>
							<div class="info-bx text-center">
								<h4 style="font-family: Roboto"><a href="#"><strong>Các Mẹo Dinh Dưỡng</strong></a></h4>
								<a href="#" class="btn radius-xl">Xem thêm</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="service-bx" style="border: 2px solid #22c55e; border-radius: 10px; padding: 10px;">

							<div class="action-box">
								<img src="https://i.pinimg.com/736x/3d/2b/b8/3d2bb85a4688255e7b118b0a9fb3ad37.jpg" alt="">
							</div>
							<div class="info-bx text-center">
								<h4 style="font-family: Roboto"><a href="@Url.Action("Index", "MonAns")"><strong>Cộng Đồng Người Dùng</strong></a></h4>
								<a href="@Url.Action("Index", "MonAns")" class="btn radius-xl">Xem thêm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Services END -->
		<!-- Popular Courses -->
		<div class="section-area section-sp2 popular-courses-bx">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-bx left">
						<h2 style="font-family: Roboto; color: #198754;" class="title-head">Salad Hot Hit</h2>
						<p style="font-family: Roboto">Thưởng thức món salad mát lạnh, giòn tan cho bữa ăn mùa hè hoàn hảo. Salad rau xanh, khoai tây, đậu và bông cải xanh, cùng salad bắp cải và salad caprese. Xem công thức.</p>
					</div>
				</div>
				<div class="row">
					<div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
						@foreach (var item in Model)
						{
							<div class="item">
								<div class="cours-bx" style="border: 2px solid #22c55e; border-radius: 10px; padding: 10px;">
									<div class="action-box">
										<img src="@item.UrlHinhAnh" alt="" style="width:100%; height:200px; object-fit:cover;">
									</div>
									<div class="info-bx text-center">
										@{
    var tenMon = item.TenMon.Length > 20 ? item.TenMon.Substring(0, 20) + "..." : item.TenMon;
}
<h5 style="font-family: Roboto; color: #198754;">
    <a href="#" style="text-decoration: none; color: inherit;">@tenMon</a>
</h5>


									</div>
									<div class="cours-more-info">
										<a href="@Url.Action("Details", "MonAns", new { id = item.Id })" class="btn btn-sm" style="background-color: #198754; color: white; border-radius: 5px; padding-top:10px; margin-top:10px;">
				Xem chi tiết
			</a>
										<div class="price">
											<h5>@($"{item.ChiPhiUocTinh:n0}") vnd</h5>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>

		<!-- Popular Courses END -->
		<!-- Form -->
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 m-b30">
						<h2 class="title-head "><span style="color: #198754;" ><strong>Premium</strong></span>
							<br> <span class="text-primary">
								Lên thực đơn
								hàng ngày dễ dàng hơn
							</span>
						</h2>
						<!-- <h4><span class="counter">57,000</span> Online Courses</h4> -->
						<p>Nâng cấp lên An Thực Premium để trải nghiệm đầy đủ tính năng vượt trội! Với gói Premium, bạn sẽ nhận được công thức độc quyền, thực đơn cá nhân hóa theo chế độ dinh dưỡng, gợi ý món ăn nâng cao và không có quảng cáo. Hãy nâng cấp ngay để biến việc nấu ăn trở nên dễ dàng và thú vị hơn bao giờ hết! 🍽️✨</p>
						<a href="membership.html" class="btn button-md">Mua Ngay</a>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon6.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Đề xuất thực đơn cá nhân hoá</h5>

									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon5.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Lưu lại những món ăn hay thực đơn yêu thích</h5>

									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon2.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Tính toán calo</h5>

									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="~/images/smartcook/icon/icon7.png" alt=""></a>
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Tham gia cộng động người dùng</h5>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Form END -->
		<!-- Testimonials -->
		<div class="section-area section-sp2 bg-fix" style="background-color: #cddfc5; font-family: 'Roboto', sans-serif;">


			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-bx left">
						<h2 class="title-head text-uppercase" style="color: #198754;">Chia sẻ từ các chuyên gia ẩm thực</h2>
						<p>Những lời chia sẻ từ các chuyên gia ẩm thực hàng đầu mang đến cái nhìn sâu sắc về chế độ ăn uống lành mạnh, giúp bạn cân bằng giữa dinh dưỡng và sở thích cá nhân, đồng thời nâng cao chất lượng cuộc sống.</p>
					</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="~/images/smartcook/gordonRamsay.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Gordon Ramsay</h5>
								<p>Đầu bếp nổi tiếng</p>
							</div>
							<div class="testimonial-content">
								<p>
									"Hãy nếm thử mọi thứ khi bạn nấu. Hương vị là chìa khóa, và nếu bạn không thử món ăn của mình, bạn sẽ không biết cần điều chỉnh gì."
									<br>
									(Learn to taste everything as you cook. Flavor is key, and if you don’t taste your food, you’ll never know what it needs.)
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="https://viendinhduongtphcm.org/Media/Uploads/bac-si/bs%20huong.png" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Tiến sĩ Nguyễn Thị Hương</h5>
								<p>Chuyên gia Dinh dưỡng</p>
							</div>
							<div class="testimonial-content">
								<p>
									"Để có một chế độ ăn lành mạnh, không cần phải tốn nhiều tiền bạc. Việc cá nhân hóa khẩu phần ăn phù hợp với từng độ tuổi và tình trạng sức khỏe sẽ giúp mỗi người duy trì được sức khỏe tốt mà không lo ngại về chi phí ăn uống."
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="https://www.elledecoration.vn/wp-content/uploads/2017/07/2-9.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Nigella Lawson</h5>
								<p>Đầu bếp nổi tiếng</p>
							</div>
							<div class="testimonial-content">
								<p>
									"Nấu ăn là một cách để bạn thể hiện tình yêu thương đối với bản thân và gia đình. Một bữa ăn lành mạnh không chỉ mang lại sự thỏa mãn cho vị giác, mà còn giúp nuôi dưỡng cơ thể khỏe mạnh và đầy năng lượng."

								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="https://cdn2.tuoitre.vn/thumb_w/480/2020/7/24/ts-nguyen-thi-lam-1595559619227145142812.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Tiến sĩ Nguyễn Thị Lâm</h5>
								<p>Chuyên gia Dinh dưỡng</p>
							</div>
							<div class="testimonial-content">
								<p>
									"Chế độ ăn uống lành mạnh không nhất thiết phải đắt đỏ. Việc cá nhân hóa chế độ ăn phù hợp với nhu cầu và khả năng tài chính của mỗi người là cách tiếp cận tối ưu để duy trì sức khỏe và tiết kiệm chi phí lâu dài."

								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Testimonials END -->


	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->